@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/* root */ 
:root {
    --clr-primary-Light-red: hsl(0, 100%, 67%, .1);
    --clr-primary-Orangey-yellow: hsl(39, 100%, 56%, .1);
    --clr-primary-Green-teal: hsl(166, 100%, 37%, .1);
    --clr-primary-Cobalt-blue: hsl(234, 85%, 45%, .1);

    
    --clr-gradient-Light-slate-blue-background: linear-gradient(to bottom, hsl(252, 100%, 67%),hsl(241, 80%, 54%) 80%);
    
    --clr-gradient-Violet-blue-circle: linear-gradient(to bottom, hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0) 90%);
       
    --clr-neutral-White: #ffffff;
    --clr-neutral-Pale-blue: #ebf1ff;
    --clr-neutral-Light-lavender: #c8c7ff;
    --clr-neutral-Dark-gray-blue: #303b5a;

    --ff: "Hanken Grotesk", sans-serif;
    --fs-body: 1.125rem;
    --fs-number: 3.5rem;
    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;
}


/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: inline-block;
    max-width: 100%;
}

body {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-500);
    color: var(--clr-neutral-Pale-blue);
}


/* utility classes / helper classes */
.flex {
    display: flex;
    align-items: center;
}


/* typography */
.number {
    font-size: var(--fs-number);
    font-weight: var(--fw-800);
    color: var(--clr-neutral-White);
}

.remark {
    font-size: 1.75rem;
    font-weight: var(--fw-700);
    color: var(--clr-neutral-White);
}

.score {
    font-weight: var(--fw-700);
    color: var(--clr-neutral-Dark-gray-blue);
}

.score span {
    font-weight: var(--fw-500);
    color: var(--clr-neutral-Light-lavender);
}

.title {
    font-size: 1.35rem;
    font-weight: var(--fw-700);
}

.summary .title {
    color: var(--clr-neutral-Dark-gray-blue);
}


/* components */
.summary-btn {
    display: inline-block;
    width: 100%;
    font: inherit;
    color: var(--clr-neutral-Pale-blue);
    padding: .8rem;
    border-radius: 999px;
    border: none;
    background: var(--clr-neutral-Dark-gray-blue);
    cursor: pointer;
}

.summary-btn:hover {
    background: var(--clr-gradient-Light-slate-blue-background);
}


/* layout styles */
.wrapper {
    justify-content: center;
    height: 100dvh;
}

.container {
    background: var(--clr-neutral-White);
    border-radius: 1rem;
    box-shadow: 0 5px 15px hsla(241, 100%, 89%, 0.539);
}

.container > * {
    width: 19em;
    height: 25em;
    padding: 2.5rem;
    flex-basis: 100%;
}


/* general styles */
.result {
    text-align: center;
    border-radius: 1rem;
    background: var(--clr-gradient-Light-slate-blue-background);
}

.result * + * {
    margin-top: 1.5rem;
}

.result-number {
    max-width: 10rem;
    margin-inline: auto;
    padding: 2rem 2.5rem;
    border-radius: 50%;
    background: var(--clr-gradient-Violet-blue-circle);
}

.result-number p {
    margin: 0;
}

.summary-wrapper {
    gap: 1rem;
    margin: 1.5rem 0;
    flex-direction: column;
}

.summary-wrapper > * {
    width: 100%;
}

.summary-item {
    justify-content: space-between;
}

.summary-item-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.summary-item {
    color: hsl(0, 100%, 67%);
    padding: .8rem;
    border-radius: .4rem;
    background: var(--clr-primary-Light-red);
}

.summary-wrapper > *:nth-child(2) {
    color: hsl(39, 100%, 56%);
    background: var(--clr-primary-Orangey-yellow);
}

.summary-wrapper > *:nth-child(3) {
    color: hsl(166, 100%, 37%);
    background: var(--clr-primary-Green-teal);
}

.summary-wrapper > *:nth-child(4) {
    color:  hsl(234, 85%, 45%);
    background: var(--clr-primary-Cobalt-blue);
}


/* media query */
@media (max-width: 680px) {
    .container {
        flex-direction: column;
    }

    .container > * {
        width: 100%;
    }

    .result {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}